<style>
    h1 {text-align: center; }
    p {text-align: center; }
    table {margin: 0 auto; }
</style>

<h1>Task Scheduler</h1>

<modal-outlet></modal-outlet>

<table>
    <tr>
        <th><button (click)="open('schedule')" class="btn btn-sm btn-primary">Schedule</button></th>
        <th><button (click)="open('tasks')" class="btn btn-sm btn-primary">Task List</button></th>
        <th><button (click)="open('assignees')" class="btn btn-sm btn-primary">Assignee List</button></th>
    </tr>
</table>

