<div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading">Available Tasks</div>
    <div class="panel-body">
        <form [formGroup]="addTaskForm">
            <div class="form-group">
                <label for="taskName">Task Name*</label>
                <input type="text" formControlName="name" ng-model="name" class="form-control" id="taskName" placeholder="Min 3 chars" required minlength="3" >
            </div>

            <button [disabled]="addTaskForm.invalid" type="submit" (click)="add(addTaskForm.value.name)" class="btn btn-md btn-primary">Add</button>
        </form>        
    </div>


    <!-- List group -->
    <ul class="list-group">
        <li *ngFor="let task of tasks" class="list-group-item">{{task}}</li>
    </ul>
</div>